.frm_style {
    margin-top: 100px;
    text-align: center;

}

.text_style {

    padding-left: 10px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 350px;
    outline: none;
    border: 2px solid;
}


.btn_style1 {
    border-radius: 6px;
    height: 41px;
    width: 100px;
    outline: none;
    border: none;
    color: white;
    background-color: #000000;
}

.btn_style1:hover {
    background: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    
    cursor: pointer;
}

.btn_style:hover {

    cursor: pointer;
}

.btn_style {

    padding: 4px;
    border-radius: 6px;
    outline: none;
border: none;
}

.btns {

    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    padding: 10px;

    text-decoration: none;
}

hr {
    border: none;
    height: 3px;
    width: 90%;
    background-image: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    ;
}

.taskk {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btnn {
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 4px;
    border-radius: 6px;
    border: 2px solid; 
    background-color: rgb(255, 255, 255);

}

.btnn:hover {
    cursor: pointer;
}

.outtask {
    margin-left: 5%;
    margin-right: 5%;
}

.roww {
padding: 10px;
text-align: center;
}